{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Orbitron|Ubuntu|Sanchez" rel="stylesheet">
        <title>Who Is Spy</title>
    </head>
    <body>
        <div class="content">
    	<div class="titlebox">
    		<h1 align="center" class="maintitle"><a class="titlelink" href="/">Who Is Spy?</a></h1>
    	</div>
        {% block content %}
        {% endblock %}
        </div>
        {% block javascript %}
        {% endblock %}
    </body>
</html>