{% extends 'whoisspy/base.html' %}
{% block content%}
    	<div>
    		<h2>Your Group Is: <span class="groupname">{{ group.name }}</span></h2>
    	</div>
    	<div>
    		<form action="" method="POST">
                {% csrf_token %}
                {% for user_profile in user_profiles %}
                <div class="formcheckbox">
    			 <input type="checkbox" value={{ user_profile.id }} name="check"><span class="checkboxtext">{{ user_profile }}</span>
                 </div>
                 {% endfor %}
            <input class="btn btn-outline-info" type="Submit" value="Start Game" name="start">
            </form>
    	</div>
{% endblock %}