{% extends 'whoisspy/base.html' %}
{% block content%}
    	<div>
    		<h2>Your Group Is: {{ group.name }}</h2>
    	</div>
    	<div>
    		<form action="" method="POST">
                {% csrf_token %}
                {% for user_profile in user_profiles %}
    			 <div>
    			 <input type="checkbox" value={{ user_profile.id }} name="check">{{ user_profile }}
    			 </div>
                 {% endfor %}
            <input type="Submit" value="Start Game" name="start">
            </form>
    	</div>
{% endblock %}