{% extends 'whoisspy/base.html' %}
{% block content%}
    	<div class="homecontent">
            <p class="groupselection">Select a group to play!</p>
    		{% for group in groups %}
    			<div class="group">
    			<button type="button" class="btn btn-outline-info"><a href="{% url 'groupview' group_id=group.id %}">{{ group }}</a></button>
    			</div>
    		{% endfor %}
                <div class="group">
                <button type="button" class="btn btn-outline-info"><a href="{% url 'groupview' group_id=0 %}">All</a></button>
                </div>
    	</div>
{% endblock %}